.item {
  color: var(--color-rose-900);
}

.image-container {
  position: relative;
  margin-bottom: 2.5rem;

  @media (min-width: 576px) {
    height: 250px;
  }

  img {
    transition: all 0.05s linear;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-active {;
  border: 2px solid var(--color-red);
}

.category {
  color: var(--color-rose-500);
}

.price {
  color: var(--color-red);
}
