@if (dessert) {
  <div class="item">
    <div class="image-container">
      <picture>
        <source [srcset]="dessert.image.desktop" media="(min-width: 1024px)"/>
        <source [srcset]="dessert.image.tablet" media="(min-width: 768px)"/>
        <source [srcset]="dessert.image.mobile" media="(max-width: 767px)"/>
        <img
          [src]="dessert.image.thumbnail"
          [alt]="dessert.name"
          loading="lazy"
        />
      </picture>
      <app-add-cart-btn [dessert]="dessert"></app-add-cart-btn>
    </div>
    <div class="text-preset-4 category">{{ dessert.category }}</div>
    <div class="text-preset-3 name">{{ dessert.name }}</div>
    <div class="text-preset-3 price">{{ dessert.price }}</div>
  </div>
}
