@if (dessert) {
  @if (dessert.quantity) {
    <div class="add-cart add-cart--counter">
      <app-count-btn countType="Decrement" (onCountChange)="handleCountChange('Decrement')"></app-count-btn>
      <span>{{ dessert.quantity }}</span>
      <app-count-btn countType="Increment" (onCountChange)="handleCountChange('Increment')"></app-count-btn>
    </div>
  } @else {
    <div class="add-cart add-cart--default" (click)="addEntryToCart(dessert)">
      <img src="images/icon-add-to-cart.svg" alt="Add to cart">
      <span class="text-preset-4-bold">Add to Cart</span>
    </div>
  }
}

